.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
.flutter-plugins
.flutter-plugins-dependencies
*.hive
*.g.dart
*.freezed.dart
android/app/google-services.json
android/key.properties
ios/Podfile.lock
ios/Pods/
*.log
.DS_Store